{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <form method = "POST"  action = {% url 'poem' %} > 
        {% csrf_token %}

        <div class = "row">
            <div class="col-6">
            {{form.genre | as_crispy_field}}
            </div>

            <div class="col-6">
            {{form.syls | as_crispy_field}}
            </div>
        </div>
        <br />
        
        <div class = "row">
            <input type = "submit" class="btn btn-success btn-full btn-block" value = "Generate" />
        </div>

    </form>

{% endblock %}